___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

# PART- 2 `( Handling With Missing Values )`

In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")
plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)
# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [103]:
df = pd.read_csv("autoscout_clean.csv")

In [104]:
df.head().T

,0,1,2,3,4
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price_€,15770.000,14500.000,14640.000,14500.000,16790.000
vat,VAT deductible,Price negotiable,VAT deductible,NaN,NaN
km,56013.000,80000.000,83450.000,73000.000,16200.000
registration,2016.000,2017.000,2016.000,2016.000,2016.000
prev_owner,2.000,NaN,1.000,1.000,1.000
hp_kW,66.000,141.000,85.000,66.000,66.000
type,Used,Used,Used,Used,Used
previous_owners,2.000,NaN,1.000,1.000,1.000
warranty,NaN,NaN,NaN,NaN,NaN
make,Audi,Audi,Audi,Audi,Audi
model,A1,A1,A1,A1,A1
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
body_color_original,Mythosschwarz,NaN,mythosschwarz metallic,NaN,Mythosschwarz Metallic
upholstery,Cloth,Cloth,Cloth,NaN,Cloth
nr_of_doors,5.000,3.000,4.000,3.000,5.000
nr_of_seats,5.000,4.000,4.000,4.000,5.000
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
engine_displacement_cc,1422.000,1798.000,1598.000,1422.000,1422.000
cylinders,3.000,4.000,NaN,3.000,3.000
weight_kg,1220.000,1255.000,NaN,1195.000,NaN
drive_chain,front,front,front,NaN,front
fuel,Diesel,Benzine,Diesel,Diesel,Diesel
co2e_g,99.000,129.000,99.000,99.000,109.000
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort&convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con..."
entertainment&media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O..."
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo..."
safety&security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect..."
gears,NaN,7.000,NaN,6.000,NaN
country_version,NaN,NaN,NaN,NaN,Germany
consumption_comb,3.800,5.600,3.800,3.800,4.100
consumption_city,4.300,7.100,4.400,4.300,4.600
consumption_country,3.500,4.700,3.400,3.500,3.800

In [105]:
df.shape

(15919, 36)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [107]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [108]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [109]:
 # df.drop_duplicates(keep = 'first', inplace = True, ignore_index=True)

In [110]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [111]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr_of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr_of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_country,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [112]:
df.describe(include="object").T

,count,unique,top,freq
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
make,15919,3,Opel,7343
model,15919,9,A3,3097
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
body_color_original,12145,1926,Onyx Schwarz,338
upholstery,12199,6,Cloth,9206
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,front,8886
fuel,15919,4,Benzine,8551
emission_class,12291,6,Euro 6,10139
comfort&convenience,14999,6198,"Air conditioning,Electrical side mirrors,Hill ...",216
entertainment&media,14545,346,"Bluetooth,Hands-free equipment,On-board comput...",1282
extras,12957,659,Alloy wheels,3245
safety&security,14937,4443,"ABS,Central door lock,Daytime running lights,D...",538
country_version,7586,23,Germany,4502

In [113]:
df["price_€"].sort_values()

8594       13.000
8828      120.000
6066      255.000
8829      331.000
8827     4950.000
           ...
15828   64332.000
3587    64900.000
3649    67600.000
15826   68320.000
3648    74600.000
Name: price_€, Length: 15919, dtype: float64

In [114]:
df["age"] = 2019 - df.registration

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
 36  age                     14322 non-null  float64
dtypes: float64(18), object(19)
memory usage: 4.5+ MB

In [116]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [117]:
df.isnull().sum()

body_type                    60
price_€                       0
vat                        4513
km                         1024
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
age                        1597
dtype: int64

In [118]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## 1. body_type

In [119]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [120]:
df[df.body_type.isnull()]

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
3175,NaN,14400.000,NaN,119000.000,1.000,81.000,Used,1.000,NaN,Audi,A3,Black,Metallic,NaN,Cloth,5.000,5.000,Manual,1598.000,4.000,1385.000,NaN,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Trailer hitch,Voice...","ABS,Adaptive headlights,Central door lock,Cent...",6.000,NaN,3.800,4.500,3.400,3.000
3255,NaN,18500.000,Price negotiable,70000.000,NaN,81.000,Used,NaN,NaN,Audi,A3,White,NaN,NaN,Cloth,3.000,5.000,Automatic,1598.000,4.000,1255.000,NaN,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,On-board computer,Radio,USB","Alloy wheels,Shift paddles","ABS,Alarm system,Central door lock,Driver-side...",7.000,NaN,3.800,4.300,3.500,3.000
3975,NaN,19950.000,NaN,25000.000,2.000,85.000,Used,2.000,NaN,Audi,A3,Blue,Metallic,NaN,NaN,5.000,5.000,Automatic,999.000,3.000,1275.000,NaN,Benzine,107.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Digital radio,MP3,On-board...","Alloy wheels,Roof rack,Sport package,Sport sea...","ABS,Adaptive headlights,Central door lock with...",7.000,NaN,4.700,5.600,4.200,2.000
3997,NaN,19750.000,VAT deductible,38800.000,1.000,82.000,Used,1.000,6.000,Audi,A3,Black,NaN,NOIR,NaN,3.000,NaN,Automatic,1598.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,On-board computer,Radio",Alloy wheels,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,2.000
4206,NaN,18490.000,NaN,20000.000,NaN,92.000,Used,NaN,NaN,Audi,A3,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Benzine,117.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.100,6.700,4.100,2.000
4297,NaN,17990.000,NaN,20000.000,NaN,92.000,Used,NaN,NaN,Audi,A3,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Benzine,117.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.100,6.700,4.100,2.000
4298,NaN,17990.000,NaN,20000.000,NaN,92.000,Used,NaN,NaN,Audi,A3,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Benzine,117.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.100,6.700,4.100,2.000
5718,NaN,12990.000,NaN,47000.000,NaN,100.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,119.000,NaN,"Air conditioning,Multi-function steering wheel",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.500,5.700,3.800,3.000
5938,NaN,12990.000,NaN,47000.000,NaN,100.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,119.000,NaN,"Air conditioning,Multi-function steering wheel",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.500,5.700,3.800,3.000
5940,NaN,12990.000,NaN,47000.000,NaN,100.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,119.000,NaN,"Air conditioning,Multi-function steering wheel",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.500,5.700,3.800,3.000
6920,NaN,11990.000,NaN,64000.000,NaN,81.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,97.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.700,4.200,3.300,2.000
6922,NaN,11990.000,NaN,64000.000,NaN,81.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,97.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.700,4.200,3.300,2.000
6927,NaN,11990.000,NaN,64000.000,NaN,81.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,97.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.700,4.200,3.300,2.000
7709,NaN,26490.000,NaN,6000.000,NaN,112.000,Used,NaN,NaN,Opel,Astra,Grey,NaN,Gris Cosmique,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
8408,NaN,12435.000,VAT deductible,21050.000,1.000,44.000,Used,1.000,NaN,Opel,Corsa,White,NaN,SchneeWeiss/SummitWhite/Arctic,Cloth,5.000,5.000,Automatic,1364.000,4.000,NaN,NaN,Benzine,NaN,NaN,"Air conditioning,Cruise control,Electrically h...","Bluetooth,CD player,Hands-free equipment,On-bo...","Alloy wheels,Sport seats","ABS,Central door lock,Daytime running lights,D...",5.000,Germany,NaN,NaN,NaN,1.000
8584,NaN,8900.000,NaN,43731.000,NaN,51.000,Used,NaN,NaN,Opel,Corsa,Black,NaN,NaN,NaN,NaN,NaN,Automatic,NaN,NaN,NaN,NaN,Benzine,NaN,NaN,"Air conditioning,Air suspension,Armrest,Automa...","Bluetooth,CD player,Digital radio,Hands-free e...","Alloy wheels,Catalytic Converter,Handicapped e...","ABS,Adaptive Cruise Control,Adaptive headlight...",NaN,NaN,NaN,NaN,NaN,2.000
10837,NaN,11490.000,NaN,99000.000,NaN,125.000,Used,NaN,NaN,Opel,Insignia,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,147.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.600,7.800,4.200,2.000
10838,NaN,11490.000,NaN,99000.000,NaN,125.000,Used,NaN,NaN,Opel,Insignia,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,147.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.600,7.800,4.200,2.000
10857,NaN,11490.000,NaN,99000.000,NaN,125.000,Used,NaN,NaN,Opel,Insignia,Black,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,147.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,5.600,7.800,4.200,2.000
13430,NaN,7990.000,VAT deductible,76021.000,NaN,67.000,Used,NaN,NaN,Renault,Clio,White,NaN,BLANC,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board computer",Sport package,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,3.000
13470,NaN,8490.000,NaN,39990.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Benzine,NaN,NaN,"Air conditioning,Multi-function steering wheel...",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,NaN,NaN,1.000
13576,NaN,7980.000,VAT deductible,79980.000,1.000,56.000,Used,1.000,3.000,Renault,Clio,White,NaN,BLANC GLACIER,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board computer",Sport package,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,3.000
13703,NaN,7690.000,VAT deductible,63372.000,NaN,56.000,Used,NaN,6.000,Renault,Clio,White,NaN,BLANC,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board computer",NaN,"ABS,Electronic stability control,Fog lights",NaN,NaN,NaN,NaN,NaN,2.000
13725,NaN,7490.000,VAT deductible,69031.000,NaN,56.000,Used,NaN,6.000,Renault,Clio,White,NaN,BLANC,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board computer",NaN,"ABS,Electronic stability control,Fog lights",NaN,NaN,NaN,NaN,NaN,2.000
13852,NaN,8500.000,NaN,34564.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,Bianco,NaN,5.000,NaN,Manual,1461.000,4.000,NaN,NaN,Diesel,NaN,NaN,NaN,NaN,NaN,"ABS,Power steering",NaN,NaN,NaN,NaN,NaN,2.000
13900,NaN,9490.000,VAT deductible,84496.000,NaN,56.000,Used,NaN,NaN,Renault,Clio,White,NaN,BLANC,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,2.000
14107,NaN,9990.000,NaN,39000.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,85.000,NaN,"Air conditioning,Power windows",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.300,3.500,3.100,2.000
14124,NaN,9990.000,VAT deductible,15.000,1.000,56.000,Used,1.000,NaN,Renault,Clio,White,NaN,BLANCHE,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...",Sport package,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,1.000
14127,NaN,9990.000,VAT deductible,15.000,1.000,56.000,Used,1.000,NaN,Renault,Clio,White,NaN,BLANCHE,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...",Sport package,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,1.000
14134,NaN,9980.000,VAT deductible,10.000,NaN,56.000,Used,NaN,NaN,Renault,Clio,White,NaN,BLANC GLACIE,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Cruise control,Power windows",On-board computer,"Roof rack,Sport package","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,NaN,NaN,1.000
14135,NaN,9980.000,VAT deductible,10.000,NaN,56.000,Used,NaN,NaN,Renault,Clio,White,NaN,BLANC GLACIE,NaN,5.000,NaN,Manual,1461.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Cruise control,Power windows",On-board computer,"Roof rack,Sport package","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,NaN,NaN,1.000
14480,NaN,10000.000,NaN,8000.000,NaN,54.000,Used,NaN,NaN,Renault,Clio,Red,NaN,NaN,Cloth,5.000,5.000,Manual,NaN,5.000,1134.000,NaN,Benzine,127.000,Euro 4,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"ABS,Central door lock,Central door lock with r...",5.000,NaN,5.600,7.200,4.700,1.000
14869,NaN,10850.000,VAT deductible,10.000,NaN,56.000,New,NaN,NaN,Renault,Clio,Grey,Metallic,titangraumet.,Cloth,5.000,5.000,Manual,898.000,NaN,1165.000,NaN,Benzine,114.000,Euro 6c,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Digital radio,Hands-free equipment,O...",NaN,"ABS,Central door lock,Driver-side airbag,Elect...",5.000,NaN,NaN,6.400,4.200,NaN
14870,NaN,10850.000,VAT deductible,10.000,NaN,56.000,New,NaN,NaN,Renault,Clio,Black,Metallic,schwarzmet.,Cloth,5.000,5.000,Manual,898.000,NaN,1165.000,NaN,Benzine,114.000,Euro 6c,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"ABS,Central door lock,Driver-side airbag,Elect...",5.000,NaN,NaN,6.400,4.200,NaN
14928,NaN,17500.000,NaN,141000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,3.000
14990,NaN,26800.000,NaN,332.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris Cassiopée,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,152.000,NaN,NaN,NaN,NaN,NaN,7.000,NaN,6.800,8.700,5.600,1.000
15058,NaN,24990.000,NaN,45000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,2.000
15059,NaN,24990.000,NaN,45000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,2.000
15060,NaN,24990.000,NaN,45000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,2.000
15124,NaN,24500.000,NaN,58078.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris Cassiopée,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,3.000
15269,NaN,17500.000,NaN,141000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,3.000
15275,NaN,17500.000,NaN,141000.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,NaN,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Diesel,120.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,4.600,NaN,4.400,3.000
15289,NaN,28140.000,NaN,10.000,NaN,96.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Manual,1598.000,4.000,NaN,NaN,Diesel,116.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.400,5.100,NaN,NaN
15307,NaN,31000.000,NaN,10.000,NaN,96.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Manual,1598.000,4.000,NaN,NaN,Diesel,116.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.400,5.100,NaN,NaN
15378,NaN,26450.000,NaN,10.000,NaN,96.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Manual,1598.000,4.000,NaN,NaN,Diesel,116.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.400,5.100,NaN,NaN
15437,NaN,33000.000,VAT deductible,NaN,NaN,118.000,Pre-registered,NaN,NaN,Renault,Espace,Black,Metallic,Nero,NaN,5.000,7.000,Automatic,1598.000,4.000,NaN,NaN,Diesel,123.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Digital radio,Radio,USB",Touch screen,"ABS,Alarm system,Driver-side airbag,Electronic...",6.000,NaN,4.700,5.100,4.400,1.000
15452,NaN,33300.000,NaN,10.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,NaN
15456,NaN,33400.000,NaN,886.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Black,NaN,Noir Etoilé,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,1.000
15457,NaN,33400.000,NaN,454.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,White,NaN,Blanc Nacré,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,1.000
15488,NaN,32600.000,NaN,10.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN
15489,NaN,32576.000,VAT deductible,10100.000,1.000,118.000,Used,1.000,NaN,Renault,Espace,Black,Metallic,NaN,Full leather,5.000,7.000,Automatic,1598.000,4.000,1734.000,front,Diesel,120.000,NaN,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Digital radio,MP3,On-board computer,...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Blind spot monitor...",6.000,NaN,4.600,NaN,4.400,1.000
15491,NaN,32576.000,VAT deductible,10100.000,1.000,118.000,Used,1.000,NaN,Renault,Espace,Black,Metallic,NaN,Full leather,5.000,7.000,Automatic,1598.000,4.000,1734.000,front,Diesel,120.000,NaN,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Digital radio,MP3,On-board computer,...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Blind spot monitor...",6.000,NaN,4.600,NaN,4.400,1.000
15499,NaN,32200.000,NaN,10.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN
15544,NaN,29750.000,NaN,10.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN
15556,NaN,30160.000,NaN,10.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,NaN
15589,NaN,31000.000,VAT deductible,NaN,NaN,118.000,Pre-registered,NaN,NaN,Renault,Espace,White,Metallic,Bianco,NaN,5.000,7.000,Automatic,1598.000,4.000,NaN,NaN,Diesel,123.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Radio,USB",NaN,"ABS,Driver-side airbag,Electronic stability co...",6.000,NaN,4.700,5.100,4.400,1.000
15696,NaN,38200.000,VAT deductible,1.000,NaN,118.000,Pre-registered,NaN,NaN,Renault,Espace,Black,Metallic,Nero,NaN,5.000,7.000,Automatic,1598.000,4.000,NaN,NaN,Diesel,123.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Digital radio,Radio,USB",Touch screen,"ABS,Alarm system,Driver-side airbag,Electronic...",6.000,NaN,4.700,5.100,4.400,0.000
15712,NaN,37100.000,VAT deductible,1.000,NaN,118.000,Pre-registered,NaN,NaN,Renault,Espace,White,Metallic,Bianco,NaN,5.000,7.000,Automatic,1598.000,4.000,NaN,NaN,Diesel,123.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Radio,USB",NaN,"ABS,Driver-side airbag,Electronic stability co...",6.000,NaN,4.700,5.100,4.400,0.000
15736,NaN,35448.000,NaN,10.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN
15770,NaN,35930.000,NaN,10.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,NaN

In [121]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
4298      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
5938      Opel     Astra        5.000          NaN
5940      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
6922      Opel     Astra        5.000          NaN
6927      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
10838     Opel  Insignia        5.000          NaN
10857     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14127  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14135  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15059  Renault    Espace        5.000          NaN
15060  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15269  Renault    Espace        5.000          NaN
15275  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15491  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [122]:
pd.set_option('display.max_rows', 150)

In [123]:
df.groupby(["make", "model"])["body_type"].value_counts(dropna=False)

make     model     body_type
Audi     A1        Sedans           1538
                   Compact          1039
                   Station wagon      21
                   Other              13
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2598
                   Station wagon     282
                   Compact           182
                   Other              16
                   Convertible         8
                   NaN                 7
                   Coupe               4
Opel     Astra     Station wagon    1211
                   Sedans           1053
                   Compact           185
                   Other              67
                   NaN                 7
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1230
                   Sedans            875
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   NaN                 2
                   Van                 2
         Insignia  Station wagon    1611
                   Sedans            900
                   Other              48
                   Compact            27
                   Off-Road            7
                   NaN                 3
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            918
                   Compact           484
                   Station wagon     337
                   Other              51
                   Transporter        29
                   NaN                15
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               777
                   Station wagon      91
                   Transporter        52
                   NaN                26
                   Sedans             21
                   Off-Road            8
                   Other               8
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [124]:
df.groupby(["make", "model", "nr_of_doors", "nr_of_seats"])["body_type"].value_counts(dropna=False)

make     model     nr_of_doors  nr_of_seats  body_type
Audi     A1        2.000        3.000        Compact             1
                                4.000        Compact            65
                                             Sedans             26
                                             Coupe               1
                                5.000        Compact             2
                                             Sedans              1
                   3.000        4.000        Sedans            120
                                             Compact            71
                                             Station wagon       1
                                5.000        Sedans              7
                                             Compact             4
                   4.000        4.000        Compact            75
                                             Sedans             39
                                             Station wagon       1
                                5.000        Sedans            245
                                             Compact           126
                                             Other               5
                                             Station wagon       1
                   5.000        4.000        Sedans            454
                                             Compact           220
                                             Station wagon       4
                                             Other               1
                                5.000        Sedans            568
                                             Compact           405
                                             Station wagon      13
                                             Other               7
                                             Coupe               1
                                6.000        Compact             1
         A2        5.000        5.000        Off-Road            1
         A3        2.000        4.000        Convertible         5
                                             Other               1
                                             Sedans              1
                                5.000        Sedans             15
                                             Convertible         1
                                             Other               1
                                             Station wagon       1
                   3.000        5.000        Sedans             90
                                             Compact            11
                                             Coupe               4
                                             Other               2
                                             NaN                 1
                                             Station wagon       1
                   4.000        4.000        Sedans             12
                                5.000        Sedans            460
                                             Station wagon     109
                                             Compact             6
                                             Other               1
                   5.000        4.000        Sedans              6
                                5.000        Sedans           1912
                                             Station wagon     165
                                             Compact           158
                                             Other               5
                                             NaN                 2
                                             Convertible         1
Opel     Astra     3.000        4.000        Coupe               1
                                5.000        Sedans              3
                   4.000        4.000        Station wagon       1
                                5.000        Station wagon     272
                                             Sedans            239
                                             Other               7
                                             Compact             5
                   5.000        4.000        Station wagon       3
                                5.000        Station wagon     861
                                             Sedans            742
                                             Compact           169
                                             Other              54
                                             Off-Road            1
         Corsa     2.000        4.000        Compact             1
                                5.000        Compact            86
                                             Sedans              4
                                             Other               1
                   3.000        2.000        Transporter         4
                                             Coupe               1
                                4.000        Compact             3
                                5.000        Compact           329
                                             Sedans            139
                                             Coupe              10
                                             Other               4
                   4.000        4.000        Compact             1
                                5.000        Compact           263
                                             Sedans             21
                                             Other               2
                   5.000        4.000        Sedans              1
                                             Transporter         1
                                5.000        Sedans            621
                                             Compact           514
                                             Other              79
                                             Transporter         2
                                             NaN                 1
                                             Coupe               1
                                             Off-Road            1
         Insignia  4.000        2.000        Station wagon       1
                                4.000        Station wagon       1
                                5.000        Station wagon     446
                                             Sedans            245
                                             Other               2
                                             Compact             1
                   5.000        4.000        Station wagon       1
                                5.000        Station wagon    1103
                                             Sedans            609
                                             Other              42
                                             Compact            25
                                             Off-Road            7
                                             Van                 1
Renault  Clio      4.000        2.000        Compact             1
                                             Transporter         1
                                5.000        Compact           142
                                             Station wagon      50
                                             Sedans             44
                                             Other               4
                                             Coupe               1
                   5.000        2.000        Sedans             71
                                             Transporter        25
                                             Compact             7
                                             Other               4
                                4.000        Sedans              3
                                             Station wagon       2
                                5.000        Sedans            712
                                             Compact           264
                                             Station wagon     255
                                             Other              38
                                             NaN                 3
                                             Off-Road            2
                                             Van                 1
         Duster    5.000        5.000        Off-Road           34
         Espace    4.000        5.000        Van                27
                                             Sedans              8
                                             Station wagon       4
                                             Off-Road            1
                                7.000        Van                59
                                             Compact             1
                                             Sedans              1
                   5.000        4.000        Van                 1
                                5.000        Van               356
                                             Station wagon      62
                                             Transporter        35
                                             Off-Road            4
                                             Other               4
                                             Compact             3
                                             Sedans              3
                                6.000        Station wagon       1
                                7.000        Van               246
                                             Station wagon      18
                                             Transporter        16
                                             NaN                 6
                                             Other               3
                                             Sedans              3
                                             Off-Road            2
                                             Compact             1
Name: body_type, dtype: int64

In [125]:
# select group mode values
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [126]:
df.groupby(["make", "model"])["body_type"].describe(include="object")["top"]

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: top, dtype: object

In [127]:
df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

In [128]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [129]:
df.body_type.isnull().sum()

0

In [130]:
df.shape

(15919, 35)

## 2.vat

In [131]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [132]:
df.groupby("vat").describe(include=object)

                 body_type                        type                     \
                     count unique     top  freq  count unique   top  freq
vat
Price negotiable       426      9  Sedans   286    426      3  Used   421
VAT deductible       10980      9  Sedans  5248  10980      5  Used  6787

                   make                     model                  body_color  \
                  count unique   top  freq  count unique top  freq      count
vat
Price negotiable    426      3  Audi   182    426      7  A3   101        426
VAT deductible    10980      3  Opel  5415  10980      9  A3  2209      10586

                                     paint_type                         \
                 unique    top  freq      count unique       top  freq
vat
Price negotiable     10  Black   109        245      1  Metallic   245
VAT deductible       13  Black  2704       7558      3  Metallic  7312

                 body_color_original                                         \
                               count unique                        top freq
vat
Price negotiable                  17     17  Floretzilver (grijs metal    1
VAT deductible                  9543   1568               Onyx Schwarz  314

                 upholstery                     gearing_type                 \
                      count unique    top  freq        count unique     top
vat
Price negotiable        134      4  Cloth    82          426      3  Manual
VAT deductible         9780      6  Cloth  7404        10980      3  Manual

                       drive_chain                       fuel                  \
                  freq       count unique    top  freq  count unique      top
vat
Price negotiable   204          95      2  front    92    426      4   Diesel
VAT deductible    5502        6876      2  front  6762  10980      4  Benzine

                       emission_class                       \
                  freq          count unique     top  freq
vat
Price negotiable   223            401      6  Euro 6   361
VAT deductible    6183           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety&security         \
                  count unique           top  freq           count unique
vat
Price negotiable    372    139  Alloy wheels    71             422    298
VAT deductible     9471    498  Alloy wheels  2092           10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [133]:
df["vat"] = df.vat.fillna(method="bfill")

In [134]:
df.vat.isnull().sum()

0

In [135]:
df.vat.value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

## 3.type

In [136]:
df["type"] = df.type.fillna(method="ffill")

In [137]:
df.type.isnull().sum()

0

## 4.age

In [138]:
df.age.isnull().sum()

1597

In [139]:
df.groupby("type").age.median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [140]:
df.groupby("type").age.apply(lambda x : x.fillna(x.median())).value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [141]:
df.groupby("type").age.apply(lambda x : x.fillna(x.median())).isnull().sum()

0

In [142]:
df["age"] = df.groupby("type").age.apply(lambda x : x.fillna(x.median()))

In [143]:
df["age"].isnull().sum()

0

## 5.km

In [144]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [145]:
a = df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean()))
a

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914      16.987
15915    9900.000
15916      15.000
15917      10.000
15918    3373.868
Name: km, Length: 15919, dtype: float64

In [146]:
a.value_counts(dropna=False)

10.000       1045
16.987        848
1.000         367
5.000         170
50.000        148
             ...
53433.000       1
67469.000       1
43197.000       1
10027.000       1
57.000          1
Name: km, Length: 6699, dtype: int64

In [147]:
a.isnull().sum()

0

In [148]:
df["km"] = df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean()))

In [149]:
df.km.isnull().sum()

0

## 6.prev_owner and previous_owners

In [150]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [151]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [152]:
df.drop("prev_owner", axis=1, inplace=True)

In [153]:
df.groupby("age")["previous_owners"].value_counts(dropna=False)

age    previous_owners
0.000  NaN                2653
       1.000              1585
       0.000               164
       2.000                10
1.000  1.000              2968
       NaN                1474
       2.000                75
       0.000                 8
2.000  1.000              1715
       NaN                1283
       2.000               296
       3.000                 7
       0.000                 6
       4.000                 1
3.000  1.000              2026
       NaN                1230
       2.000               397
       0.000                10
       3.000                10
       4.000                 1
Name: previous_owners, dtype: int64

In [154]:
df.groupby("age")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    14934
2.000      778
0.000      188
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [155]:
df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [156]:
df.groupby(["age", "type"])["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    13465
0.000     1657
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [157]:
df["previous_owners"] = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [158]:
df.previous_owners.isnull().sum()

0

## 7.hp_kW

In [159]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
70.000      888
125.000     707
51.000      695
55.000      569
118.000     516
92.000      466
121.000     392
147.000     380
77.000      345
56.000      286
54.000      276
103.000     253
87.000      232
165.000     194
88.000      177
60.000      160
162.000      98
NaN          88
74.000       81
96.000       72
71.000       59
101.000      47
67.000       40
154.000      39
122.000      35
119.000      30
164.000      27
135.000      24
82.000       22
52.000       22
78.000       20
1.000        20
294.000      18
146.000      18
141.000      16
57.000       10
104.000       8
120.000       8
191.000       7
112.000       7
155.000       6
117.000       6
184.000       5
90.000        4
76.000        4
65.000        4
149.000       3
80.000        3
168.000       3
98.000        3
93.000        3
228.000       2
270.000       2
53.000        2
140.000       2
86.000        2
167.000       2
127.000       2
89.000        2
143.000       2
63.000        2
40.000        2
150.000       2
163.000       1
115.000       1
132.000       1
75.000        1
4.000         1
137.000       1
123.000       1
133.000       1
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, dtype: int64
******************************

In [160]:
df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x: x.fillna(x.median())).isnull().sum()

0

In [161]:
df["hp_kW"] = df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x: x.fillna(x.median()))

In [162]:
df["hp_kW"].isnull().sum()

0

## 8.warranty

In [168]:
# We made a search on the internet. We found at not all the cars on the autoscout platform have a warranty.
# We got contact with autoscout officials on the meaning of NaN values of warranty column in the dataset 
# and they stated that every new car has a warranty but not all used cars have a warranty. 
# So we have filled all of the used cars to '0' and apllied fillna method for other values median of the "warranty" column values by groupby value of the "type" and "age" column.

In [169]:
df.warranty.isnull().sum()

11066

In [170]:
df.groupby(["make", "model", "age"])["warranty"].mean()

make     model     age
Audi     A1        0.000   27.971
                   1.000   26.300
                   2.000   17.679
                   3.000   13.926
         A2        1.000      NaN
         A3        0.000   27.697
                   1.000   21.707
                   2.000   16.655
                   3.000   17.112
Opel     Astra     0.000   37.804
                   1.000   25.795
                   2.000   14.988
                   3.000   24.797
         Corsa     0.000   27.472
                   1.000   17.355
                   2.000   22.231
                   3.000   27.061
         Insignia  0.000   31.863
                   1.000   25.348
                   2.000   17.058
                   3.000   15.225
Renault  Clio      0.000   35.510
                   1.000   15.686
                   2.000   16.733
                   3.000   10.864
         Duster    0.000   12.000
         Espace    0.000   37.226
                   1.000   22.524
                   2.000   15.922
                   3.000   12.482
Name: warranty, dtype: float64

In [171]:
df.groupby("age")["warranty"].mean()

age
0.000   30.511
1.000   22.549
2.000   17.345
3.000   17.302
Name: warranty, dtype: float64

In [172]:
df.groupby("age")["warranty"].median()

age
0.000   24.000
1.000   12.000
2.000   12.000
3.000   12.000
Name: warranty, dtype: float64

In [173]:
df["warranty"].value_counts(dropna=False)

NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64

In [174]:
df["warranty"] = df["warranty"].replace(to_replace=np.nan, value=0).astype("float")

In [175]:
df.loc[df["warranty"] != 0, "warranty"] = 1

In [176]:
df.warranty.isnull().sum()

0

In [177]:
df.warranty.value_counts()

0.000    11066
1.000     4853
Name: warranty, dtype: int64

## 9.body_color

In [178]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [179]:
df.body_color.fillna(method="backfill").value_counts(dropna=False)

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64

In [180]:
df.body_color.fillna(method="ffill").value_counts(dropna=False)

Black     3877
Grey      3614
White     3531
Silver    1705
Blue      1535
Red        998
Brown      298
Green      163
Beige      114
Yellow      54
Violet      19
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [181]:
df["body_color"] = df.body_color.fillna(method="backfill")

In [182]:
df["body_type"].isnull().sum()

0

## 10.paint_type

In [183]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [184]:
df[df.paint_type.isnull()]["body_color_original"].value_counts(dropna=False)

NaN                            1670
Brillantschwarz                 179
Bianco                          163
wählbar - ggf. mit Aufpreis     118
Blanco                          110
                               ...
schnee-weiss                      1
schneeweiß/schwarz                1
rouge eclat                       1
Gris Cosmique                     1
Cosmos Blau Met                   1
Name: body_color_original, Length: 624, dtype: int64

In [185]:
df.paint_type.fillna(method="pad").value_counts(dropna=False)

Metallic       15261
Uni/basic        617
Perl effect       41
Name: paint_type, dtype: int64

In [186]:
df.paint_type.fillna(method="bfill").value_counts(dropna=False)

Metallic       15343
Uni/basic        555
Perl effect       21
Name: paint_type, dtype: int64

In [187]:
df.paint_type.value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [188]:
df.paint_type = df.paint_type.fillna(method="pad")

In [189]:
df.paint_type.isnull().sum()

0

## 11.body_color_original

In [190]:
# Since this column contains irrelevant values and the values are in German, 
# we have dropped this column.

In [191]:
df.drop(columns="body_color_original", inplace=True)

## 12.upholstery

In [192]:
check_df("upholstery")

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Cloth           9206
NaN             3720
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: upholstery, dtype: int64
******************************

In [193]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_country', 'age'],
      dtype='object')

In [194]:
import re

In [195]:
def get_diff_category_column(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\n' "!?|.,*+-_/]['''):
    """
    exclude  - satırlar da kategori ayırım yerleri
    pattern  - satırdaki veriyi ayırma regex
    strip    - alakasız işaretleri kaldırma
    """
    import re
    column = Series.dropna().apply(str).str.strip(strip)
    diff_value = list()
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

In [196]:
get_diff_category_column(df["comfort&convenience"])

{0: 'Air conditioning',
 1: 'Air suspension',
 2: 'Armrest',
 3: 'Automatic climate control',
 4: 'Auxiliary heating',
 5: 'Cruise control',
 6: 'Electric Starter',
 7: 'Electric tailgate',
 8: 'Electrical side mirrors',
 9: 'Electrically adjustable seats',
 10: 'Electrically heated windshield',
 11: 'Heads-up display',
 12: 'Heated steering wheel',
 13: 'Hill Holder',
 14: 'Keyless central door lock',
 15: 'Leather seats',
 16: 'Leather steering wheel',
 17: 'Light sensor',
 18: 'Lumbar support',
 19: 'Massage seats',
 20: 'Multi-function steering wheel',
 21: 'Navigation system',
 22: 'Panorama roof',
 23: 'Park Distance Control',
 24: 'Parking assist system camera',
 25: 'Parking assist system self-steering',
 26: 'Parking assist system sensors front',
 27: 'Parking assist system sensors rear',
 28: 'Power windows',
 29: 'Rain sensor',
 30: 'Seat heating',
 31: 'Seat ventilation',
 32: 'Split rear seats',
 33: 'Start-stop system',
 34: 'Sunroof',
 35: 'Tinted windows',
 36: 'Wind deflector',
 37: 'Windshield'}

In [197]:
df["comfort&convenience"].str.contains("Leather seats").value_counts(dropna=False)

False    14951
NaN        920
True        48
Name: comfort&convenience, dtype: int64

In [198]:
df[df.upholstery.isnull()]["comfort&convenience"].str.contains("Leather seats").value_counts(dropna=False)

False    2939
NaN       779
True        2
Name: comfort&convenience, dtype: int64

In [199]:
# As the second option we can create an additional column according to "price_€" column("high", "medium", "low" price).
# We can fill NaN values of upholstery column by grouping this new column.

In [200]:
df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill").value_counts(dropna=False)

Cloth           11912
Part leather     1974
Full leather     1356
Other             507
Velour             96
alcantara          74
Name: upholstery, dtype: int64

In [201]:
df.upholstery = df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill")

In [202]:
df.upholstery.isnull().sum()

0

In [203]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                212
nr_of_seats                977
gearing_type                 0
engine_displacement_cc     496
cylinders                 5680
weight_kg                 6974
drive_chain               6858
fuel                         0
co2e_g                    2442
emission_class            3628
comfort&convenience        920
entertainment&media       1374
extras                    2962
safety&security            982
gears                     4712
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_country       3365
age                          0
dtype: int64

## 13.nr_of_doors

In [204]:
check_df("nr_of_doors")

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64
******************************

In [205]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].value_counts(dropna=False)

make     model     body_type      nr_of_doors
Audi     A1        Compact        5.000           666
                                  4.000           207
                                  3.000            80
                                  2.000            69
                                  NaN              17
                   Coupe          2.000             1
                                  5.000             1
                   Other          5.000             8
                                  4.000             5
                   Sedans         5.000          1048
                                  4.000           321
                                  3.000           130
                                  2.000            29
                                  NaN              10
                   Station wagon  5.000            17
                                  4.000             3
                                  3.000             1
                   Van            5.000             1
         A2        Off-Road       5.000             1
         A3        Compact        5.000           164
                                  3.000            11
                                  4.000             6
                                  NaN               1
                   Convertible    2.000             7
                                  5.000             1
                   Coupe          3.000             4
                   Other          5.000            10
                                  3.000             3
                                  2.000             2
                                  4.000             1
                   Sedans         5.000          1953
                                  4.000           517
                                  3.000            94
                                  NaN              24
                                  2.000            17
                   Station wagon  5.000           169
                                  4.000           110
                                  NaN               1
                                  2.000             1
                                  3.000             1
Opel     Astra     Compact        5.000           180
                                  4.000             5
                   Coupe          3.000             1
                                  5.000             1
                   Off-Road       5.000             1
                   Other          5.000            59
                                  4.000             7
                                  NaN               1
                   Sedans         5.000           797
                                  4.000           241
                                  NaN              12
                                  3.000             3
                   Station wagon  5.000           927
                                  4.000           280
                                  NaN              11
         Corsa     Compact        5.000           528
                                  3.000           338
                                  4.000           268
                                  2.000            88
                                  NaN              10
                   Coupe          3.000            12
                                  5.000             1
                   Off-Road       5.000             3
                   Other          5.000            80
                                  3.000             4
                                  4.000             2
                                  2.000             1
                   Sedans         5.000           662
                                  3.000           146
                                  NaN              42
                                  4.000            21
                                  2.000             4
                   Transporter    3.000             4
                                  5.000             3
                   Van            NaN               2
         Insignia  Compact        5.000            26
                                  4.000             1
                   Coupe          4.000             1
                   Off-Road       5.000             7
                   Other          5.000            44
                                  4.000             3
                                  NaN               1
                   Sedans         5.000           638
                                  4.000           250
                                  NaN              12
                   Station wagon  5.000          1149
                                  4.000           453
                                  NaN              12
                   Van            5.000             1
Renault  Clio      Compact        5.000           302
                                  4.000           170
                                  NaN              11
                                  1.000             1
                   Coupe          4.000             1
                   Off-Road       5.000             2
                   Other          5.000            46
                                  4.000             4
                                  NaN               1
                   Sedans         5.000           868
                                  4.000            44
                                  NaN              21
                   Station wagon  5.000           276
                                  4.000            52
                                  NaN               9
                   Transporter    5.000            27
                                  NaN               1
                                  4.000             1
                   Van            NaN               1
                                  5.000             1
         Duster    Off-Road       5.000            34
         Espace    Compact        5.000             5
                                  4.000             1
                   Coupe          NaN               1
                                  5.000             1
                   Off-Road       5.000             6
                                  NaN               1
                                  4.000             1
                   Other          5.000             7
                                  NaN               1
                   Sedans         5.000            12
                                  4.000             9
                   Station wagon  5.000            86
                                  4.000             4
                                  NaN               1
                   Transporter    5.000            52
                   Van            5.000           704
                                  4.000            90
                                  NaN               8
                                  7.000             1
Name: nr_of_doors, dtype: int64

In [206]:
# df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0])).isnull().sum()

In [207]:
df[(df["make"] == "Opel")&(df["model"] == "Corsa")&(df["body_type"] == "Van")]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [208]:
df[(df["make"] == "Opel")&(df["model"] == "Corsa")&(df["body_type"] == "Van")]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [209]:
df.nr_of_doors.value_counts(dropna=False)

5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [210]:
df.iloc[8952:8954]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [211]:
# group mode values - use when key error fillna column mode
df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0]))isnull().sum()

SyntaxError: invalid syntax (4123002326.py, line 2)

In [ ]:
df.nr_of_doors = df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0]))

In [ ]:
df.nr_of_doors.isnull().sum()

## 14.nr_of_seats

In [ ]:
check_df("nr_of_seats")

In [ ]:
df.groupby(["make", "model", "body_type"])["nr_of_seats"].value_counts(dropna=False)

In [ ]:
df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

In [ ]:
df.nr_of_seats = df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

In [ ]:
df.nr_of_seats.isnull().sum()

## 15.cylinders

In [ ]:
check_df("cylinders")

In [ ]:
df.columns

In [ ]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].value_counts(dropna=False).head(60)

In [ ]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).value_counts(dropna=False)

In [ ]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).isnull().sum()

In [ ]:
df["cylinders"] = df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0]))

In [ ]:
df.cylinders.isnull().sum()

In [ ]:
df.hp_kW.isnull().sum()

## 16.engine_displacement_cc

In [ ]:
check_df("engine_displacement_cc")

In [ ]:
df.groupby(["make","model","cylinders", "hp_kW"])["engine_displacement_cc"].value_counts(dropna=False).head(60)

In [ ]:
# df.engine_displacement_cc.fillna(df.groupby(["make","model","cylinders","hp_kW"])["engine_displacement_cc"].mean())

In [ ]:
df.groupby(["make","model","cylinders","hp_kW"])["engine_displacement_cc"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0])).isnull().sum()

In [ ]:
df["engine_displacement_cc"] = df.groupby(["make","model","cylinders","hp_kW"])["engine_displacement_cc"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))

In [ ]:
df.engine_displacement_cc.isnull().sum()

## 17.weight_kg

In [ ]:
check_df("weight_kg")

In [ ]:
df.weight_kg.mean()

In [ ]:
df.weight_kg.median()

In [ ]:
df.weight_kg.value_counts().tail(60)

In [ ]:
df.weight_kg.sort_values(ascending=True)

In [ ]:
df.groupby(["make", "model", "body_type"])["weight_kg"].value_counts(dropna=False).head(60)

In [ ]:
df.groupby(["make", "model", "body_type"])["weight_kg"].mean()

In [ ]:
df.groupby(["make", "model", "body_type"])["weight_kg"].median()

In [ ]:
df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))

In [ ]:
df["weight_kg"] = df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))

In [ ]:
df["weight_kg"].isnull().sum()

In [ ]:
check_df("weight_kg")

In [ ]:
df.weight_kg.mean()

In [ ]:
df.weight_kg.median()

## 18.drive_chain

In [ ]:
check_df("drive_chain")

In [ ]:
df.groupby(["make", "model", "body_type"])["drive_chain"].value_counts(dropna=False).head(60)

In [ ]:
df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0])).isnull().sum()

In [ ]:
df["drive_chain"] = df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0]))

In [ ]:
df["drive_chain"].isnull().sum()

## 19.co2e_g

In [ ]:
check_df("co2e_g")

In [ ]:
df.co2e_g.value_counts(dropna=False)

In [ ]:
df.co2e_g.sort_values(ascending=True)

In [ ]:
df.groupby(["make", "model", "fuel"])["co2e_g"].value_counts(dropna=False).head(60)

In [ ]:
df.groupby(["make", "model", "fuel"])["co2e_g"].mean()

In [ ]:
df.groupby(["make", "model", "fuel"])["co2e_g"].median()

In [ ]:
df.co2e_g.mean()

In [ ]:
df.co2e_g.median()

In [ ]:
df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median())).value_counts(dropna=False)

In [ ]:
df["co2e_g"] = df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median()))

In [ ]:
df.co2e_g.isnull().sum()

## 20.emission_class

In [ ]:
check_df("emission_class")

In [ ]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].value_counts(dropna=False).head(100)

In [ ]:
df.emission_class.value_counts(dropna=False)

In [ ]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].apply(lambda x: x.fillna(x.mode()[0] if any (x.mode()) else df["emission_class"].mode()[0])).value_counts(dropna=False)

In [ ]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill").value_counts(dropna=False)

In [ ]:
df[df.emission_class.isnull()].age.value_counts()

In [ ]:
df["emission_class"] = df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill")

In [ ]:
df["emission_class"].isnull().sum()

## 21.comfort&convenience

In [ ]:
check_df("comfort&convenience")

In [ ]:
get_diff_category_column(df["comfort&convenience"])

In [ ]:
df.groupby(["make", "model", "body_type", "age"])["comfort&convenience"].value_counts(dropna=False)

In [ ]:
df[df["comfort&convenience"].isnull()][["make", "model", "age", "body_type"]].value_counts()

In [ ]:
df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill").isnull().sum()

In [ ]:
df["comfort&convenience"] = df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill")

In [ ]:
df["comfort&convenience"].isnull().sum()

## 22.entertainment&media

In [ ]:
check_df("entertainment&media")

In [ ]:
df[df["entertainment&media"].isnull()][["make", "model", "age", "body_type"]].value_counts()

In [ ]:
df["entertainment&media"] = df.groupby(["make", "model", "age", "body_type"])["entertainment&media"].fillna(method="pad").fillna(method="backfill")

In [ ]:
df["entertainment&media"].value_counts(dropna=False)

In [ ]:
df["entertainment&media"].isnull().sum()

## 23.extras

In [ ]:
check_df("extras")

In [ ]:
df[df["extras"].isnull()][["make", "model", "age", "body_type"]].value_counts()

In [ ]:
df.groupby(["make", "model", "body_type", "age"])["extras"].value_counts(dropna=False)

In [ ]:
df.groupby(["make", "model", "age", "body_type"])["extras"].fillna(method="pad").fillna(method="backfill").isnull().sum()

In [ ]:
df["extras"] = df.groupby(["make", "model", "age", "body_type"])["extras"].fillna(method="pad").fillna(method="backfill")

In [ ]:
df["extras"].isnull().sum()

## 24.safety&security

In [ ]:
check_df("safety&security")

In [ ]:
df.groupby(["make", "model", "body_type", "age"])["safety&security"].value_counts(dropna=False)

In [ ]:
df[df["safety&security"].isnull()][["make", "model", "age", "body_type"]].value_counts()

In [ ]:
df.groupby(["make", "model", "age", "body_type"])["safety&security"].fillna(method="pad").fillna(method="backfill").isnull().sum()

In [ ]:
df["safety&security"] = df.groupby(["make", "model", "age", "body_type"])["safety&security"].fillna(method="pad").fillna(method="backfill")

In [ ]:
df["safety&security"].isnull().sum()

## 25.gears

In [ ]:
check_df("gears")

In [ ]:
df.groupby(["make", "model", "body_type", "engine_displacement_cc"])["gears"].value_counts(dropna=False).head(100)

In [ ]:
df.gears.mode()

In [ ]:
df.gears = df.groupby(["make", "model", "body_type"])["gears"].fillna(method="ffill").fillna(method = "bfill")

In [ ]:
df.gears.isnull().sum()

## 26.country_version

In [ ]:
check_df("country_version")

In [ ]:
df.groupby(["make", "model", "body_type"])["country_version"].value_counts(dropna=False).head(100)

In [ ]:
df.country_version.fillna(value="Unknown").value_counts(dropna=False)

In [ ]:
df.country_version = df.country_version.fillna(value="Unknown")

In [ ]:
df.country_version.isnull().sum()

## 27.consumption_comb

In [ ]:
check_df("consumption_comb")

In [ ]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])['consumption_comb'].mean()

In [ ]:
df[df.consumption_comb.isnull()][["consumption_city", "consumption_country"]].value_counts()

In [ ]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])['consumption_comb'].value_counts(dropna=False).head(60)

In [ ]:
df.body_type.value_counts()

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df["consumption_city"].fillna((df["consumption_comb"] - df["consumption_country"]*0.62)/0.38).isnull().sum()

In [ ]:
df["consumption_city"] = df["consumption_city"].fillna(abs(df["consumption_comb"] - df["consumption_country"]*0.62)/0.38)

In [ ]:
df["consumption_city"].isnull().sum()

In [ ]:
df["consumption_country"].fillna((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62).isnull().sum()

In [ ]:
df["consumption_country"] = df["consumption_country"].fillna(abs((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62))

In [ ]:
df["consumption_country"].isnull().sum()

In [ ]:
df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38)).isnull().sum()

In [ ]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

In [ ]:
df["consumption_comb"].isnull().sum()

### consumption_city

In [ ]:
df.consumption_city = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_city"].fillna(method="ffill").fillna(method="bfill")

### consumption_country

In [ ]:
df.consumption_country = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_country"].fillna(method="ffill").fillna(method="bfill")

### consumption_comb

In [ ]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df[df.consumption_city.isnull()][["consumption_comb", "consumption_country"]].value_counts(dropna=False)

In [212]:
df.warranty.value_counts()

0.000    11066
1.000     4853
Name: warranty, dtype: int64

In [ ]:
df.columns

In [ ]:
df.age

In [ ]:
check_df("vat")

In [ ]:
df.info()

In [213]:
df.to_csv("auto_scout_filled.csv", index=False)

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
#df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
# <div class="burk">
# df_dummied.to_csv("final_scout_dummy.csv", index=False)</div><i class="fa fa-lightbulb-o "></i>